<%= render "shared/navbar" %>
<div class="container mt-6">
    <table>
        <thead>
            <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
            </tr>
        </thead>
        <tbody data-controller="cart">
            <% @cart.line_items.each do |line_item| %>
            <tr data-cart-target="id" id="<%=line_item.id%>">
                <td><%= image_tag(line_item.product.image, alt: line_item.product.name, class: 'product-image') %></td>
                <td><%= line_item.product.name %></td>
                <td><%= number_to_currency(line_item.product.price) %></td>
                <td>
                    <span class="quantity-buttons">
                        <%= button_tag type: 'button', class: 'quantity-increment', data: {action: "click->cart#increment"}  do %>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        <% end %>
                        <span data-cart-target="quantity"><%= line_item.quantity %></span>
                        <%= button_tag type: 'button', class: 'quantity-decrement', data: {action: "click->cart#decrement"} do %>
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        <% end %>
                    </span>
                </td>
                <td>
                    <%= link_to root_path, class: "remove-action", data:{turbo_method: :get, turbo_confirm: "Are you sure?"}  do %>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

<style>
/* Assuming you have a class named 'product-image' for the product images */
.product-image {
  max-width: 100px; /* Adjust the width as needed */
  height: auto;
}

/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
}

/* Style the "Remove" link */
a[data-method="delete"] {
  color: red;
  text-decoration: none;
}

/* Optional: Add hover effect for the "Remove" link */
a[data-method="delete"]:hover {
  text-decoration: underline;
}

/* Style the quantity input field and buttons */
.quantity-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-increment,
.quantity-decrement {
    width: 30px;
  height: 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 2px 6px;
  font-size: 14px;
  margin: 0 4px;
}

.quantity-increment:hover,
.quantity-decrement:hover {
  background-color: #0056b3;
}

.remove-action{
  display: inline;
  margin-left: auto;
  font-size: 24px;
  color: red;
}

</style>