<%= render "shared/navbar" %>
<div class="container mt-6">
    <% if @cart.line_items.empty? %>
      <div class="NoItemsBanner">
        <h1>No Items Present</h1>
        <p class="tagline">Add some items to your cart to get started!</p>
      </div>
    <% else %>
      <table>
          <thead>
              <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              </tr>
          </thead>
          <tbody>
              <% @cart.line_items.each do |line_item| %>
              <tr id="id-<%= line_item.id %>" data-controller="cart">
                  <td><%= image_tag(line_item.product.image, alt: line_item.product.name, class: 'product-image') %></td>
                  <td><%= line_item.product.name %></td>
                  <td data-cart-target="price" price="<%= line_item.product.price %>"><%= number_to_currency(line_item.product.price * line_item.quantity, unit: "₹", format: "%u %n") %></td>
                  <td>
                      <span class="quantity-buttons">
                          <%= button_tag type: 'button', class: 'quantity-increment', data: {action: "click->cart#increment", id: line_item.id }  do %>
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          <% end %>
                          <span qty="qty-<%= line_item.id%>" data-cart-target="qty"><%= line_item.quantity %></span>
                          <%= button_tag type: 'button', class: 'quantity-decrement', data: {action: "click->cart#decrement", id: line_item.id } do %>
                              <i class="fa fa-minus" aria-hidden="true"></i>
                          <% end %>
                      </span>
                  </td>
              </tr>
              <% end %>
          </tbody>
      </table>
    <% end %>
</div>